# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Model files
*.pth
*.pt
*.ckpt

# Environment / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

db_config.example.json
db_config.json

#image
received_images/
